<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <!-- Local repository location -->
    <!--<localRepository>${user.home}/.m2/repository</localRepository>-->

    <servers>
        <!-- Authentication for GitHub Packages -->
        <server>
            <id>github</id>
            <username>rajeshchettupalli-achala</username>
            <password>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</password>
        </server>
    </servers>

    <mirrors>
        <!-- Add a mirror if needed -->
    </mirrors>

    <profiles>
        <profile>
            <id>github</id>
            <repositories>
                <repository>
                    <id>github</id>
                    <url>https://maven.pkg.github.com/isms24-apps/common-service</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>github</activeProfile>
    </activeProfiles>
</settings>
